<div class="container">
    <h1 class="heading">Task Management</h1>
    <button (click)="navigateToDashboard()" class="a">Go to <span>DASHBOARD</span></button>
    <table class="task-table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task Status</th>
                <th>Due Date</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Design UI</td>
                <td>Create wireframes and prototypes</td>
                <td>In Progress</td>
                <td>2024-10-25</td>
                <td>Design Team</td>
            </tr>
            <tr>
                <td>Develop API</td>
                <td>Build RESTful API for data access</td>
                <td>Completed</td>
                <td>2024-10-20</td>
                <td>Backend Team</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-10-30</td>
                <td>backend Team</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-19-30</td>
                <td>QA Team</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-16-30</td>
                <td> data analystTeam</td>
            </tr>
            <tr>
                <td>sp</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-20-30</td>
                <td>QA Team</td>
            </tr>
            <tr>
                <td>jhbj</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-10-30</td>
                <td>front end teamTeam</td>
            </tr>
        </tbody>
    </table>

    
</div>
