<div class="container">
    <h1 class="heading">Students Details</h1>
    <button (click)="navigateToDashboard()" class="a">Go to <span>DASHBOARD</span></button>
    <br>
    <br>
    <button (click)="navigateTotasktable()" class="aa" style="font-weight: 600;">Create a <span>New Task</span></button>
    
    <table class="task-table">
        <thead>
            <tr>
                <th>Student name</th>
                <th>Program Detail</th>
                <th>Task Status</th>
                <th>Submission Date</th>
                <th>Language used</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>kuldeep</td>
                <td>Factoial program</td>
                <td>In Progress</td>
                <td>2024-10-25</td>
                <td>c++</td>
            </tr>
            <tr>
                <td>Rahul</td>
                <td>fibonacchi program</td>
                <td>Completed</td>
                <td>2024-10-20</td>
                <td>java</td>
            </tr>
            <tr>
                <td>Vineet</td>
                <td>square root program</td>
                <td>Not Started</td>
                <td>2024-10-30</td>
                <td>c++</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>Binary search program</td>
                <td>Not Started</td>
                <td>2024-19-30</td>
                <td>c++</td>
            </tr>
            <tr>
                <td>Rohit</td>
                <td>factorial numbar</td>
                <td>Not Started</td>
                <td>2024-16-30</td>
                <td>java</td>
            </tr>
            <tr>
                <td>Goutam</td>
                <td>Total sum program</td>
                <td> Started</td>
                <td>2024-20-30</td>
                <td>c++</td>
            </tr>
            <!--<tr>
                <td>jhbj</td>
                <td>Perform unit and integration testing</td>
                <td>Not Started</td>
                <td>2024-10-30</td>
                <td>front end teamTeam</td>
            </tr>-->
        </tbody>
    </table>

    
</div>
