
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #e3dcdc2f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.task-table th, .task-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.task-table th {
    background-color: #111c27;
    color: white;
}

.task-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .task-table th, .task-table td {
        display: block;
        /*width: 100%;*/
        max-width: 200px;
    }

    .task-table tr {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .task-table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .task-table td {
        padding-left: 50%;
        text-align: left;
    }

    .task-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        white-space: nowrap;
        font-weight: bold;
    }
}
.a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    justify-content: space-between;
  }
  
  .a::before,
  .a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  .a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */

  
  .a {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    vertical-align: top;
    bottom: 40px;
    border: #18272F;
    font-size: larger;
    font-style:italic;
    

  }

  @media (max-width:600px) {
    .a{
        top: 20px;
        background: transparent;
        color:white;

    }
    
  }