

  <div class ="topcontainer">

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Signup</label>
  <input type="text" name="txt" placeholder="user name" [(ngModel)]="signupObj.username" required #fname="ngModel">
  <span *ngIf="fname.touched &&  !fname.valid" style="color: white; align-items: center; font-size: small; margin-left: 20px;"> Name is required</span>
          
  <input type="email" name="email" placeholder="email" [(ngModel)]="signupObj.email" required #email="ngModel">
  <span *ngIf="email.touched && !email.valid" style="color: white;  align-items: center; font-size: small; margin-left: 20px;">Email is required</span>       
            
            <input type="password" name="pswd" placeholder="password" [(ngModel)]="signupObj.password" required #password="ngModel">
            <span *ngIf="password.touched && password.value.length <8" style="color: white; align-items: center; font-size: small; margin-left: 20px; ">Password must be at least 8 characters long.</span>
            <button [disabled]="password.value.length < 8" (click)="onsignup()">Signup</button>
            
        </form>

    </div>

    <div class="login">

 <form>
            <label for="chk" aria-hidden="true">login</label>
            <!--<input type="text" name="txt" placeholder="user name" [(ngModel)]="signupObj.">-->
            <input type="email" name="email" placeholder="email"   [(ngModel)]="loginObj.userName">
            <input type="password" name="pswd" placeholder="password"   [(ngModel)]="loginObj.password">
            <button (click)= "onlogin()" >login</button>
            
        </form>
    </div>
</div>



  </div>

  

  