<!--<p>landing-page works!</p>-->
<!--<p>login-signup works!</p>
<button (click)="navigateToSecondPage()">Go to Second Page</button>-->

<!--<h1 style="background-color: aqua;">jhjh</h1>
-->

  <!-- Google Font -->
 

  <!-- Layers of Stars for Parallax Effect -->
  


<div class="container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <!--<div id="stars2"></div>
  <div id="stars3"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>-->

  <!-- Title Section -->
  <div id="title">
    <span>MultiCode Run</span>
    <br>
    <!--<span>PARALLAX PIXEL STARS</span>-->
    <div class="home-container">
      
        <button class="pulse-button" (click)="getstarted()" >Get Started</button>
      </div>
</div>


<!--</div>-->
  
</div>
