.container {
    /*width: 50%;*/
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #ddd;
    /*height: auto;*/
    overflow: scroll;
    height: 100vh;
    /*margin-top: 20%;*/
    
  }
  label{
    color: white;
  }
  

 
  form {
    margin-bottom: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*gap: -10px; 
    */
    margin-left: 8px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color:white;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  